/* YouTube */
.odin-focus-enabled #secondary,
.odin-focus-enabled #below {
  display: none !important;
}

/* MDN */
.odin-focus-enabled .navigation,
.odin-focus-enabled #main-sidebar,
.odin-focus-enabled .reference-layout__toc,
.odin-focus-enabled section[aria-labelledby="see_also"],
.odin-focus-enabled section[aria-labelledby="feedback"],
.odin-focus-enabled .footer__mdn,
.odin-focus-enabled .footer__mozilla {
  display: none !important;
}

/* sitepoint.com */
.odin-focus-enabled .w-full.overflow-y-auto.sticky {
  display: none !important;
}
.odin-focus-enabled .w-full.overflow-y-auto.sticky,
.odin-focus-enabled .xl\:hidden,
.odin-focus-enabled .inline-content,
.odin-focus-enabled .container-2xl {
  display: none !important;
}
.odin-focus-enabled ul.pt-0.pb-4.px-4 {
  display: none;
}
.odin-focus-enabled .inline-content[data-takeover="true"] {
  display: none !important;
}
.odin-focus-enabled .inline-content[data-order="true"] {
  display: none !important;
}
.odin-focus-enabled .xl\:hidden {
  display: none !important;
}
.odin-focus-enabled picture {
  display: none !important;
}
.odin-focus-enabled #footer-takeover {
  display: none !important;
}
.odin-focus-enabled #bsa-zone_1719474980702-2_123456 {
  display: none !important;
}
.odin-focus-enabled [class*="bg-[linear-gradient(155deg"] {
  display: none !important;
}
.odin-focus-enabled .inline-content[data-type="display"][data-unit^="bsa-zone"] {
  display: none !important;
}
.odin-focus-enabled .w-full.flex.xl\:justify-center.bg-accent-3.fixed.h-20.xl\:h-14.z-\[2\] {
  display: none !important;
}

/* tutsplus.com */
.odin-focus-enabled .global-new-nav__header-bottom,
.odin-focus-enabled .sign-up-component,
.odin-focus-enabled .ecosystem-highlight,
.odin-focus-enabled footer,
.odin-focus-enabled .w-full,
.odin-focus-enabled #footer-promo-component {
  display: none !important;
}
.odin-focus-enabled [data-controller="announcement-bar"] {
  display: none !important;
}

/* digitalocean */
.odin-focus-enabled .HeaderStyles__StyledHeader-sc-2183282b-0,
.odin-focus-enabled nav,
.odin-focus-enabled .Gridstyles-sc-isu2n3-0,
.odin-focus-enabled .CTANotestyles__StyledCTANote-sc-hfughq-0,
.odin-focus-enabled .ContributorsFooterStyles__StyledRecordInfoContainer-sc-dcaeecb5-8,
.odin-focus-enabled .CTASimplestyles__StyledCTASimple-sc-j39es-0,
.odin-focus-enabled .Tabsstyles__StyledMediaCenterTabs-sc-dxgfsg-1,
.odin-focus-enabled .WasThisHelpfulStyles__StyledShareContainer-sc-5f453fe1-1 {
  display: none !important;
}

/* wes boss */
.odin-focus-enabled ._ContentNavStyles_sqgvv_1,
.odin-focus-enabled ._NavStyles_1ptq8_9,
.odin-focus-enabled ._TOCAsideStyles_cdlbu_1,
.odin-focus-enabled ._BannerStyles_zrzos_1,
.odin-focus-enabled footer {
  display: none !important;
}

/* dev.to */
.odin-focus-enabled #article-show-primary-sticky-nav {
  display: none !important;
}